{% extends "base.html" %}


{% block content %}




<h1>authors</h1>
<form name="input" action="/coauthors" method="get" data-ajax="false" onSubmit="validateForm(this)">
Author: <input type="text" name="author_name" value="{{ args.author_name }}">

<input type="submit" value="Submit">
</form>

<h3>{{args.name}}</h3>


  
  
  This is number of publication {{args.stats[-1]}} <br>
  This is number conference papers {{args.stats[0]}} <br>
  This is number paper {{args.stats[1]}} <br>
  This is number jounral {{args.stats[2]}} <br>
  This is number books {{args.stats[3]}}  <br>
  This is number of coauthors {{args.auth}} <br>
  This is number of times first {{args.times_first}} <br>
  This is number of times last {{args.times_last}} <br>


switch to master
pull from origin
swtich to your_branch
commit your changes
merge your_branch with master


{% endblock %}