{% extends "base.html" %}


{% block content %}



<!-- 
<h1>Authors</h1>
<form name="input" action="/coauthors" method="get" data-ajax="false" onSubmit="validateForm(this)">
Author: <input type="text" name="author_name" value="{{ args.author_name }}">

<input type="submit" value="Submit">
</form> -->

<h3>{{args.name}}</h3>


<table class="table table-striped table-bordered table-hover" >
    <thead>
    <tr>
    <th> Metric </th> <th> Overall </th> <th> journal articles </th> <th> conference papers </th> <th> books </th> <th> book chapters </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
        <p rel="tooltip" title="Number of publications for each publication type">  
        Number of publications 
        </p>
        </td>
        <td> {{args.stats[4]}} </td>  <td> {{args.stats[1]}} </td>  <td> {{args.stats[0]}}</td>  <td> {{args.stats[2]}}</td>  <td> {{args.stats[3]}}</td>
    </tr>
    
    <tr>
        <td>
        <p rel="tooltip" title="Number of times the author is the first author for their publications for each publication type"> 
        Number of times appeared first 
        </p>
        </td>
        
        <td> {{args.detailed_stats[0][4]}} </td>  <td> {{args.detailed_stats[0][1]}} </td>  <td> {{args.detailed_stats[0][0]}}</td>  <td> {{args.detailed_stats[0][2]}}</td>  <td> {{args.detailed_stats[0][3]}}</td>
    </tr>
    
    <tr>
        <td> 
        <p rel="tooltip" title="Number of times the author isn't the first author for their publications for each publication type">
        Number of times appeared last </td>
        </p>
        <td> {{args.detailed_stats[1][4]}} </td>  <td> {{args.detailed_stats[1][1]}} </td>  <td> {{args.detailed_stats[1][0]}}</td>  <td> {{args.detailed_stats[1][2]}}</td>  <td> {{args.detailed_stats[1][3]}}</td>
    </tr>
    
    <tr>
       <td> 
        <p rel="tooltip" title="Number of times the author write paper individually for each publication type."> 
        Number of times appeared sole 
        </p> 
        </td>
        
        
        
       <td> {{args.detailed_stats[2][4]}} </td>  <td> {{args.detailed_stats[2][1]}} </td>  <td> {{args.detailed_stats[2][0]}}</td>  <td> {{args.detailed_stats[2][2]}}</td>  <td> {{args.detailed_stats[2][3]}}</td>
    </tr>
    
    <tr>
        <td>
        <p rel="tooltip" title="Total number of co-authors">
        Number of Coauthors
        </p>
        
        </td> <td>{{args.total_coauthors}}</td>
    </tr>
    
    </tbody>
</table>
  
<!--   This is number of publication {{args.stats[-1]}} <br>
  This is number conference papers {{args.stats[0]}} <br>
  This is number paper {{args.stats[1]}} <br>
  This is number jounral {{args.stats[2]}} <br>
  This is number books {{args.stats[3]}}  <br>
  This is number of coauthors {{args.auth}} <br>
  This is number of times first {{args.times_first}} <br>
  This is number of times last {{args.times_last}} <br> -->


<!--   switch to master
pull from origin
swtich to your_branch
commit your changes
merge your_branch with master-->


{% endblock %}