<!doctype html>
<html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}"/>
<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

<style type="text/css">
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus{
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>

  

  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
      <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">COMP61542: {{ args.dataset }}</a>
            </div>
            <!-- /.navbar-header -->

          <!--   <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                       
                      
                    </ul>
                    /.dropdown-messages
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                      
                    </ul>
                    /.dropdown-tasks
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                 
                    </ul>
                    /.dropdown-alerts
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    /.dropdown-user
                </li>
                /.dropdown
            </ul> -->
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

     <nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
 <ul class="nav" id="side-menu">

  <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
  <li><a href="/statisticsdetails/publication_author">Publication by Author</a></li>
  <li><a href="/statisticsdetails/publication_year">Publication by Year</a></li>
  <li><a href="/statisticsdetails/author_year">Author by Year</a></li>
  <li><a href="/averages">Averaged Year Data</a></li>
  <li><a href="/coauthors">Co-Authors</a></li>
  <li><a href="/separations">Separations</a></li>
</ul>
</div>
</nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
   <div id="content">
        {% block content %}{% endblock %}
      </div> 
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>

 <!--  <div id="wrapper">
    <div id="page">
      <div id="header">
        <h1>COMP61542: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div>

     
    </div>
    </div> -->
    

  

    <!-- SB Admin Scripts - Include with every page -->
    <!--script type="text/javascript" src="http://code.jquery.com/jquery.min.js"--></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/jquery-1.10.2.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/sb-admin.js')}}"></script>
    
    <script type=text/javascript src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/typeahead.bundle.js')}}"></script>
 

    <!-- Page-Level Plugin Scripts - Tables -->
    <script  type=text/javascript src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script  type=text/javascript src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
    
    <!-- Bootstrap core CSS -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
    
    $(function() {
     function get_result( event, ui ) {
            var request = new XMLHttpRequest();
            var url = 'http://0.0.0.0:9292/separations';
            url = url.concat('/'.concat('{{args.name}}'));
            url = url.concat('/'.concat(document.getElementById('authors_names').value));
            request.onreadystatechange = function() {
                if (request.readyState == 4) {
                    var h4 = 'Degrees of separation bewteen '.concat('{{args.name}}');
                    h4 = h4.concat(' and '.concat(document.getElementById('authors_names').value));

                    h4 = h4.concat(' is: '.concat(request.responseText));
                    document.getElementById("answer").innerHTML=h4;
                }
            }
            request.open("GET", url, true);
            request.send(null); 
      }
      
      {% set authors = ', '.join(authors) %}
      {% set authors_i = []%}
      {% for i in args.all_authors%}
        // DO NOT DELETE THIS IT IS NOT COMMENT
        //{{authors_i.append('{}'.format(i))}}
      {% endfor %}
         
      var availableTags = {{ authors_i | safe}}
      $( "#authors_names" ).autocomplete({
      source: availableTags,
      select: get_result,
    });
    
    $("#authors_names").bind("keypress", {}, keypressInBox);
    function keypressInBox(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode                        
            var input = document.getElementById('authors_names').value
            if(input.match(/^\s*$/))
            {
            }
            else {get_result()}
        }
    };
    
  });
  
  </script>
    <script type="text/javascript">
    $(document).ready(function() {
        var table=$('#dataTables').dataTable();
        $('#dataTables_filter input').unbind();
        $('#dataTables_filter input').bind('keyup', function(e) {
        	 table.fnFilter(this.value);
        	 
           console.log(table.fnSettings().fnRecordsDisplay());  
           if(table.fnSettings().fnRecordsDisplay()==1 && document.title=="Author Publication"){
        	   window.location=document.getElementsByTagName('a')[7].href;
        	  
           }
          }
         );     
         
         $('#dataTables').on('click', 'th', function(){
            var aaSorting = table.fnSettings().aaSorting;
            var currentSortColumnIndex = aaSorting[0][0];
            var currentSortDirection = aaSorting[0][1];
            var clickedSortColumnIndex = $(this).index();
            
            if(currentSortColumnIndex == clickedSortColumnIndex )
            {
                table.fnSort( [ [clickedSortColumnIndex, currentSortDirection], [0, 'asc', 0] ] );
            }
            else {
                // To change the default sorting, just change this to 'desc'
                table.fnSort( [ [clickedSortColumnIndex, 'asc'], [0, 'asc', 0] ] );
            }
            
        });  
    });
    
    
</script>
<script>

var keyTimer;
$("#dataTables").bind('filter').keyup(function() {
    console.log("sda");         
    clearTimeout(keyTimer);
    keyTimer = setTimeout(function(){ console.log("filtered"); }, 500);
});

</script>

  </body>
</html>
