<!doctype html>
<html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}"/>
<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">


  

  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
      <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">COMP61542: {{ args.dataset }}</a>
            </div>
            <!-- /.navbar-header -->

          <!--   <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                       
                      
                    </ul>
                    /.dropdown-messages
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                      
                    </ul>
                    /.dropdown-tasks
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                 
                    </ul>
                    /.dropdown-alerts
                </li>
                /.dropdown
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    /.dropdown-user
                </li>
                /.dropdown
            </ul> -->
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

     <nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
 <ul class="nav" id="side-menu">

  <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
  <li><a href="/statisticsdetails/publication_author">Publication by Author</a></li>
  <li><a href="/statisticsdetails/publication_year">Publication by Year</a></li>
  <li><a href="/statisticsdetails/author_year">Author by Year</a></li>
  <li><a href="/averages">Averaged Year Data</a></li>
  <li><a href="/coauthors">Co-Authors</a></li>
</ul>
</div>
</nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
   <div id="content">
        {% block content %}{% endblock %}
      </div> 
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>

 <!--  <div id="wrapper">
    <div id="page">
      <div id="header">
        <h1>COMP61542: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div>

     
    </div>
    </div> -->
    

  

    <!-- SB Admin Scripts - Include with every page -->
    <script type=text/javascript src="{{ url_for('static',filename='js/jquery-1.10.2.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/sb-admin.js')}}"></script>
    
    <script type=text/javascript src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
   
    <!-- Page-Level Plugin Scripts - Tables -->
    <script  type=text/javascript src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script  type=text/javascript src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
    <!-- Bootstrap core CSS -->
    <script>
    $(document).ready(function() {
         var table=$('#dataTables').dataTable(); 
        
         $('#dataTables').on('click', 'th', function(){
            var aaSorting = table.fnSettings().aaSorting;
            var currentSortColumnIndex = aaSorting[0][0];
            var currentSortDirection = aaSorting[0][1];
            var clickedSortColumnIndex = $(this).index();
            
            if(currentSortColumnIndex == clickedSortColumnIndex )
            {
                table.fnSort( [ [clickedSortColumnIndex, currentSortDirection], [0, 'asc', 0] ] );
            }
            else {
                // To change the default sorting, just change this to 'desc'
                table.fnSort( [ [clickedSortColumnIndex, 'asc'], [0, 'asc', 0] ] );
            }
            
            
            /*console.log('currentSortDirection:');
            console.log(currentSortDirection);
            
            console.log('currentSortColumnIndex:');
            console.log(currentSortColumnIndex);
            
            console.log('clickedSortColumnIndex');          
            console.log(clickedSortColumnIndex);*/
            
            /*var newSortDirection = 'asc';
            if(currentSortColumnIndex == clickedSortColumnIndex) {
                newSortDirection = (currentSortDirection == 'asc') ? 'desc' : 'asc';
                console.log('newSortDirection');
                console.log(newSortDirection);
                table.fnSort([[clickedSortColumnIndex, newSortDirection]]);
            }
            else{
                if(clickedSortColumnIndex == 0) {
                    console.log('newSortDirection');
                    console.log(newSortDirection);
                    table.fnSort( [[0, newSortDirection]]);
                    }
                else{
                    console.log('newSortDirection');
                    console.log(newSortDirection);
                    table.fnSort([[clickedSortColumnIndex, newSortDirection]]);
                }
            }*/
        });  
    });
    
    
</script>
  </body>
</html>
